@import url("../node_modules/ionicons/dist/css/ionicons.css");

/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

ul {
    list-style: none;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #e67e22;
    font-size: 150%;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* ----------------------------------------------- */


/* PRODUCTS IMAGE */


/* ----------------------------------------------- */

.product-name {
    position: absolute;
    text-align: left;
    background-color: #ffffff59;
    color: #000;
    text-transform: uppercase;
    font-size: 17px;
    word-spacing: 2px;
    padding: 8px;
    font-weight: bold;
    width: 100%;
}

.product-details div {
    font-size: 18px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    max-width: 1200px;
    justify-content: space-between;
}


/* Create three equal columns that sits next to each other */

.col {
    padding: 5px;
}


/**

BUTTONS

*/

button:focus {
    outline: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.253);
}

.prev,
.next {
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.6s ease;
    padding: 16px;
}

.prev {
    left: 6%;
}

.next {
    right: -5%;
}


/**

IMAGES

*/

.image-container {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}


/**

PRODUCT CONTAINER

*/

.product-container {
    margin-bottom: 100px;
}


/**

OVERLAY CONTAINER

*/

.overlay-image-container {
    position: relative;
    overflow: hidden;
    width: 110%;
}

.overlay-image-container img {
    width: 100%;
}

.overlay-image-container .prev,
.overlay-image-container .badge-pos,
.overlay-image-container .next {
    position: absolute;
}

.badge-pos {
    bottom: 0.5%;
    width: 100%;
    text-align: center;
    background-color: #3c3a3a8c;
}

.overlay-product-name {
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 17px;
    word-spacing: 2px;
    padding: 8px;
    font-weight: bold;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay-container {
    margin: 5% 38%;
}

.badge-btn {
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    width: 13px;
    height: 13px;
    padding: 0;
    margin-left: 2px;
    display: inline-block;
    transition: 0.3s;
}

.badge-bg {
    background-color: #fff;
}

.badge-btn:hover {
    background-color: rgb(255, 255, 255);
}


/**

PRODUCT DETAILS

*/

.product-flags-list {
    margin-bottom: 7px;
}

.flag-text {
    font-style: oblique;
    color: #e67e22;
}

.product-flags-list i {
    margin-right: 5px;
}

.product-price div {
    margin-right: 10px;
}

.product-flags,
.product-price,
.product-messages {
    margin-top: 20px;
}

.product-price {
    display: flex;
}

.product-price-type,
.product-discount-price {
    text-transform: capitalize;
    color: #e67e22;
}

.product-messages ul li {
    font-size: 20px;
}

.message-code {
    text-transform: capitalize;
    font-weight: bold;
    font-style: oblique;
    color: #e67e22;
}